### Utilize all the concepts you learned from chapter 1.

#### Feel free to edit and add the tasks.

##### Q1. Write a code demonstrating the sum of two numbers.

In [1]:
# Write your code here.
a = 100
b = 50
print(a + b)

150

##### Q2. Define few variables and print their types.

In [2]:
# Write your code here.
a = 10
b = 10.5
c = 10j
print("Type of a is", type(a))
print("Type of b is", type(b))
print("Type of c is", type(c))

Type of a is <class 'int'>
Type of b is <class 'float'>
Type of c is <class 'complex'>

##### Q3. Write a code defining a list and accessing it's elements.

In [3]:
# Write your code here.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[5])
print(my_list[2:6])

6
[3, 4, 5, 6]

##### Q5. Write a code to convert a string to an integer. ( Hint: Take a number as an input )

In [5]:
# Write your code here.
a = input("Enter a number:")
b = float(a)
c = int(b)
print(type(c))

<class 'int'>

##### Q6. Take two string inputs, and concatenate them.

In [7]:
# Write your code here.
a = input("Enter first string:")
b = input("Enter second string:")
c = a + b
print("The concatenated string is", c)

The concatenated string is Prajwal  Chaulagain

##### Q7. Create dictionary defining an object and access its values.

In [9]:
# Write your code here.
my_dict = {"Name":"Prajwal", "Age":21, "Address":"Lalitpur"}
print(my_dict["Name"])
print(my_dict["Age"])
print(my_dict["Address"])

Prajwal
21
Lalitpur

##### Q8. Write a code that demonstrates the use of floating point numbers and arithmetic operations.

In [10]:
# Write your code here.
num1 = 10.5
num2 = 20.5
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Exponentiation:", num1 ** num2)

Addition: 31.0
Subtraction: -10.0
Multiplication: 215.25
Division: 0.5121951219512195
Exponentiation: 8.597667211360811e+20

#### Q9. Write a code to demonstrate the difference between mutable and immutable types.

In [11]:
# Write your code here.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)
my_list[0] = 10
my_list.append(11)
print(my_list)
my_tuple = {10, 20, 30, 40, 50, 60, 70, 80, 90,100}
my_tuple[1] = 25

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

TypeError: 'set' object does not support item assignment

### Q10. Write a simple program utilizing all the concepts you learned from chapter 1.

In [6]:
# Write your code here.

var1 = input("Enter your first name:\n")
var2 = input("Enter your last name: \n")
print(f"Your name is {var1 + ' ' + var2}")
age = int(input("Enter your age:\n"))
print("Your age is ", type(age)," Type")
my_list = []
my_list.append(var1)
my_list.append(var2)
print(my_list)
a = int(input("Enter a number for addition: "))
b = int(input("Enter another number for addition: "))
print(f"Sum is {a + b}")

Your name is Prajwal Chaulagain
Your age is  <class 'int'>  Type
['Prajwal', 'Chaulagain']
Sum is 30

# **Thank You !!!**