Syntax

In [3]:
a = 1
b = 2
a + b
a / b

0.5

In [1]:
# Indentation
a = 30
b = 20
if a > b:
    print("A is greater than B!")
else:
    print("B is greater than A!")

A is greater than B!

In [1]:
# Case sensitive
salary = 100000
Salary = 150000
SALARY = 200000
print(Salary)

150000

In [2]:
name = "Prajwal"
Name = "Prajwal"
NAME = "Prajwal"
print(name == Name == NAME)

True

In [3]:
# Comments

# this is a comment

'''
this is multiline comment
'''
"""
this is also a multiline comment
"""

'\nthis is also a multiline comment\n'

In [4]:
a = 1000
b = 2000
print("The elements a + b")

The elements a + b

In [7]:
# Statement

first_name = "Prajwal"
last_name = "Chaulagain"
print(first_name + " " + last_name)

Prajwal Chaulagain

In [8]:
# This is not recommended

first_name = "Prajwal"; last_name = "Chaulagain"; print(first_name + " " + last_name)

Prajwal Chaulagain

In [3]:
# Input from user

name = input("Enter your name:")
#printing output

print("Hello " + name)

Hello Prajwal

In [4]:
# Numeric valaues
x = 10
y = 5
z = x + y
z

15

In [7]:
# String values
college_name = "Vedas college"
address_name = "lalitpur, Nepal"
college = college_name +  ". " + address_name
print(college)

Vedas college. lalitpur, Nepal

In [12]:
# Dymanic Binding : Changing the value of variable
subject = "Computer Science"
print(subject)
subject = "Physics"
print(subject)

Computer Science
Physics

In [8]:
A,B,C = "Prajwal", "Anil", "Bibek"
print(A)
print(B)
print(C)

Prajwal
Anil
Bibek

In [9]:
A = B = C = "Prajwal"
print(A)
print(B)
print(C)

Prajwal
Prajwal
Prajwal

In [11]:
# Variable name
first_var = "Prajwal"
firstVar = "Chaulagain"
second_var = "Computer"
second_Var = "Monitor"
print(second_var)
print(second_Var)

Computer
Monitor

Data Type

In [13]:
# Numeric Data types
num1 = 5
num2 = 3.14
num3 = 5j+5
print("Data type of num1 is", type(num1))
print("Data type of num2 is", type(num2))
print("Data type of num3 is", type(num3))

Data type of num1 is <class 'int'>
Data type of num2 is <class 'float'>
Data type of num3 is <class 'complex'>

In [14]:
# String data type

name = "Prajwal Chaulagain"

print("Data type of name is", type(name))

Data type of name is <class 'str'>

In [16]:
# Value data type
value = 10

print("Data type of value is", type(value))

Data type of value is <class 'int'>

In [17]:
A = "Artifical Intelligence"
B = "Machine Learning"
print(A)
print(B)

# Using ',' to concatenate the two or more strings
print(A,"concatenated with",A)

# Using '+' to concate the two or more strings
print(A+" concated with "+B)

Artifical Intelligence
Machine Learning
Artifical Intelligence concatenated with Artifical Intelligence
Artifical Intelligence concated with Machine Learning

In [24]:
# List Data type
programing_language = ["Python", "Java", "C++", "C#"]
print("Data type of programing_language is", type(programing_language))

Data type of programing_language is <class 'list'>

In [25]:
programing_language[0]

'Python'

In [77]:
# Range data type
x = range(5)
print("Data type of x is", type(x))

Data type of x is <class 'range'>

In [30]:
# Tuple Data type
fruits = ("Apple", "Banana", "Cherry", "Orange")
print("Data type of fruits is", type(fruits))
print(fruits[0])

Data type of fruits is <class 'tuple'>
Apple

In [28]:
# Set Data type
colors = {"Red", "Green", "Blue", "Yellow"}
print("Data type of colors is", type(colors))
# colors[0] # set does not support indexing

Data type of colors is <class 'set'>

In [32]:
# Dictionary Data type
person = {
    "name": "Prajwal",
    'age': 21,
    'address': "Lalitpur"}
print("Data type of person is", type(person))
print(person['name'])
print(person['age'])
print(person['address'])

Data type of person is <class 'dict'>
Prajwal
21
Lalitpur

In [76]:
# Boolean data type
x = True
print("Data type of x is", type(x))

Data type of x is <class 'bool'>

Lets understand the fundamental a bit more deeply

In [37]:
# Unlike other programming languages, python automatically checks value eauality 
a = "10"
b = 10
print(a == b)

False

In [38]:
# Type Conversion
a = "3.14"
# b = int(a)
# If you want to convert the floating-point string '3.14' into an integer, you should first convert it to a float and then to an integer.
b = int(float(a))
c = float(b)

print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

Mutable Vs Immutable

In [41]:
# List is mutable
my_list = [1, 2, 3]
my_list[0] = 10  

my_list.append(5)

print(my_list)

[10, 2, 3, 5]

In [44]:
# Tuple is immutable
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [50]:
# Set is mutable
my_set = {1, 2, 3}
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [51]:
# Dictionary is mutable
my_dict = {"name": "Prajwal Chaulagain", "age": 21}
my_dict["name"] = "Prajwal"
print(my_dict)

{'name': 'Prajwal', 'age': 21}

In [54]:
# Strig is immutable
my_string = "Python"
my_string[0] = "J"

TypeError: 'str' object does not support item assignment

In [56]:
# Howeer, you can concatenate strings to create a new string
my_string = "Python"
new_string = "J" + my_string[1:]
print(new_string)
print(my_string)

Jython
Python

In [61]:
my_list = [5, 10, 15,20]
my_list[0] = 100
print(my_list)
my_list.append(25)
print(my_list)
my_list.insert(2, 8)
print(my_list)
my_list.remove(20)
print(my_list)
my_list.pop(1)
print(my_list)
my_list.extend([6, 7, 6, 7])

#my_list.clear()
print(my_list)

[100, 10, 15, 20]
[100, 10, 15, 20, 25]
[100, 10, 8, 15, 20, 25]
[100, 10, 8, 15, 25]
[100, 8, 15, 25]
[100, 8, 15, 25, 6, 7, 6, 7]

In [58]:
my_list.count(7)
my_list.index(6)
my_list.sort()
#my_list.sort(reverse=True)
print(my_list)

[6, 6, 7, 7, 8, 15, 25, 100]

List comprehension

In [67]:
my_squared_list = [x**2 for x in my_list] 
#my_squared_list = [x**3 for x in my_list] 
my_squared_list

[10000, 64, 225, 625, 36, 49, 36, 49]

In [68]:
pairs = [(i, j) for i in range(1, 4) for j in range(4, 7)]
print(pairs)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [69]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened = [item for row in matrix for item in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
# Similar for to sets
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
remainders = {x % 4 for x in numbers}
print(remainders)

{0, 1, 2, 3}

In [73]:
original = {'a': 1, 'b': 2, 'c': 3}
swapped = {value: key for key, value in original.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [75]:
# Code to find unique words
sentence = "Python is fun and Python is powerful"
unique_words = {word.lower() for word in sentence.split()}
print("Unique words:", unique_words)

Unique words: {'python', 'and', 'fun', 'powerful', 'is'}